   $grey:#373737;
   $white: #FFFFFF;
   $black: #000000;
   $grey2:#696161;
   $bgsearch:#EFEFEF;
   $colorsearch:#686868;
   $bgshop:#F9F9F9;
   $bgFooter:#00000026;
  


$fonts-roboto-bold:'Roboto Bold', sans-serif;
$fonts-roboto-light:'Roboto Light', sans-serif;
$fonts-roboto-regular: 'Rodoto Regular', sans-serif;
$fonts-roboto-medium: 'Roboto Medium', sans-serif;
$fonts-roboto-thin: 'Roboto Thin', sans-serif;


$fonts-revalia-regular: 'Revalia Regular', sans-serif;



$bp-tablet-xx:1450px;
$bp-tablet-xxl:1400px;
$bp-tablet-xxls:1350px;
$bp-tablet-xxll:1320px;
$bp-tablet:1300px;
$bp-tablet-bb:1280px;
$bp-tablet-bg:1260px;
$bp-tablet-vv:1200px;
$bp-tablet-vs:1100px;
$bp-tablet-s:1150px;
$bp-tablet-skk:1050px;
$bp-tablet-sm:1000px;
$bp-tablet-c:900px;
$bp-tablet-t:800px;
$bp-tablet-k:700px;
$bp-tablet-f:650px;
$bp-tablet-g:600px;
$bp-tablet-gp:550px;
$bp-tablet-gr:500px;
$bp-tablet-gs:450px;
$bp-tablet-gw:400px;



// $bp-mobile:375px;

