.search{
    width: 100%;
    display: flex;
    flex-direction: column;




    // * {box-sizing: border-box;}
&__form{
  position: relative;
  width: 300px;
  margin: 0 auto;

@media screen and (max-width: $bp-tablet-t) {
    width: 264px;
    margin-left: 17px;
}

}
&__form-input{
  width: 267px;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  background: $bgsearch;
  color: $colorsearch;
   
@media screen and (max-width: $bp-tablet-k) {
    width: 200px;
    padding-left: 7px;
}

}

&__form-button{
  position: absolute; 
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background: $grey;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

@media screen and (max-width: $bp-tablet-k) {
    right: 68px;
}

}
//  розміщення лупи
&__form--first{
    position: relative;
        top: 4px;
        right: -12px;
    
}
&__form--second{
    position: absolute;
    top: 32px;
    right: 9px;
    z-index: 1;
}
//  заголовок
&__title{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    font-family: $fonts-roboto-regular;
    line-height:100%;
    vertical-align: top;
    padding: 50px 530px 5px 0;
    color: $black;
    @media screen and (max-width: $bp-tablet) {
        padding: 50px 900px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-s) {
        padding: 50px 820px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-skk) {
        padding: 50px 730px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-sm) {
        padding: 50px 684px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-c) {
        font-size: 28px;
        padding: 50px 450px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-t) {
        font-size: 28px;
        padding: 50px 427px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-k) {
        font-size: 26px;
        padding: 50px 405px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-g) {
        font-size: 26px;
        padding: 50px 245px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-gr) {
        font-size: 26px;
        padding: 50px 154px 5px 0;
    }
    @media screen and (max-width: $bp-tablet-gs) {
        font-size: 26px;
        padding: 50px 114px 5px 0;
    }
}
&__text{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
    font-family: $fonts-roboto-regular;
    line-height:173%;
    vertical-align: top;
    padding: 15px 430px 0px 0;
    color: $grey;

    @media screen and (max-width: $bp-tablet) {
        padding: 15px 704px 15px 0;
    }
    @media screen and (max-width: $bp-tablet-s) {
        padding: 15px 657px 15px 0;
    }
    @media screen and (max-width: $bp-tablet-skk) {
        padding: 15px 530px 15px 0;
    }
    @media screen and (max-width: $bp-tablet-sm) {
        padding: 15px 530px 15px 0;
    }
    @media screen and (max-width: $bp-tablet-c) {
        font-size: 19px;
        padding: 15px 320px 15px 0;
    }
    @media screen and (max-width: $bp-tablet-t) {
        font-size: 19px;
        padding: 15px 250px 15px 47px;
    }
    @media screen and (max-width: $bp-tablet-k) {
        font-size: 18px;
        padding: 15px 194px 15px 5px;
    }
    @media screen and (max-width: $bp-tablet-g) {
        font-size: 18px;
        padding: 15px 19px 15px 5px;
    }
   
}

&__menu{
    display: flex;
    flex-direction: row;
    align-self: start;
    padding: 45px 110px 50px 140px;

    @media screen and (max-width: $bp-tablet) {
        flex-direction: column;
        gap: 60px;
        justify-content: center;
    }

}
&__menu10{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: $fonts-roboto-regular;
    line-height:128%;
    color: $colorsearch;
    gap: 30px;
    padding-left: 110px;

    @media screen and (max-width: $bp-tablet-s) {
        padding-left: 0px;
    }

    @media screen and (max-width: $bp-tablet-sm) {
        gap: 25px;
    }
    @media screen and (max-width: $bp-tablet-c) {
        gap: 15px;
        margin-left: -65px;
    }
    @media screen and (max-width: $bp-tablet-t) {
        font-size: 18px;
    }
    @media screen and (max-width: $bp-tablet-k) {
        font-size: 16px;
    }
    @media screen and (max-width: $bp-tablet-f) {
        font-size: 15px;
        gap: 13px;
        margin-left: -75px;
    }
    @media screen and (max-width: $bp-tablet-f) {
        font-size: 14px;
        gap: 10px;
        margin-left: -104px;
    }


}



}